* {
    box-sizing: border-box;
}

.header {
    display:flex;
    flex-direction: column;
    background-color:darkblue;
    color: white;
    justify-content: center;
    align-items: center;
    
}

h1 {
    display:flex;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif
}

h4 {
    font-family: Arial, Helvetica, sans-serif
}

h5 {
    font-family: Arial, Helvetica, sans-serif;
}

.searcher {
    display: flex;
    flex-direction:row;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height:600px;
}
/*  */
.column-middle {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 75%;
}

.forecast {
    display: flex;
    flex-direction:column;
    height: 60%;
}

#forecastContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Properties of the cards for the 5 day forecast */
#card {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px;
    width:20%;
    background-color: rgb(16, 66, 61);
    color: whitesmoke;
}

#search {
    height:40px;
    width:300px;
}

#currentWeather {
    display: flex;
    flex-direction: column;
}

label {
    display:flex;
    align-items:center;
    justify-content: center;
    height:40px;
    width:300px;
    background-color: rgb(0, 104, 145);
    color: white;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
    padding-bottom:5px;
    justify-content: center;
}

.search-wrapper {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    gap: .25rem;

}

input {
    font-size: 1rem;
}
    

.city-cards {
    display:grid;
    gap: .25 rem;
    margin-top: 1rem;
}

.saved-cards {
    background-color: lavender;
    padding: 3rem;
}

.hide {
    display:none;
}
/* Have the box on the right side of the section */
.info {
    display:flex;
    flex-direction: row;
    
}